.NotFound {
    height: 80vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.SadText {
    width: 70%;
}

.ImageSection {
    width: 70%;
    height: 70%;
}

.ImageSection > img {
    width: 25%;
    height: 80%;
}

.ImageSection > img:hover {
    cursor: pointer;
}

.ImageSection > h2 {
    font-weight: 400;
}